<div [@routerTransition]>
    <div class="row">
        <div class="col-lg-6">

            <form role="form">


                <fieldset class="form-group">
                    <label>Text Input with Placeholder</label>
                    <input class="form-control" placeholder="Enter text">
                </fieldset>


            </form>

            <a href='#' (click)='onClick()'>Build</a>
            <br>
<a href='http://alpmdmappdvn01.corporate.ge.com:8008/job/GEProcessScanTool/lastSuccessfulBuild/artifact/output/*.xlsx'>Click me</a>

        </div>
    </div>
    <!-- /.row -->
</div>
