<div [@routerTransition]>
    <form class="form-horizontal" align="center" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <table class="table table-bordered table-hover table-condensed table-responsive">
            <h2>Purchase Order</h2>
            <thead>
                <th>
                    PONumber
                </th>
                <th>
                    OrderedQuantity
                </th>
                <th>
                    Description
                </th>
                <th>
                    UnitPrice
                </th>
                <th>
                    TotalAmount
                </th>

            </thead>
            <tr *ngFor="let field of fieldArray; let i = index">
                <td>
                    <input type="text" class="form-control " required name="ponum" id="ponum" ngModel/>
                    <!--         <span class="floating-label">PONumber</span>
         -->
                </td>
                <td>

                    <input type="text" class="form-control " required name="qty" id="qty" ngModel/>
                    <!--         <span class="floating-label">OrderedQuantity</span>
 -->
                </td>
                <td>
                    <input type="text" class="form-control " required name="desc" id="desc" ngModel/>
                    <!--         <span class="floating-label">Description</span>
 -->
                </td>
                <td>
                    <input type="text" class="form-control " required name="up" id="up" ngModel/>
                    <!--         <span class="floating-label">UnitPrice</span>
 -->
                </td>
                <td>
                    <input type="text" class="form-control " required name="tamt" id="tamt" ngModel/>
                    <!--         <span class="floating-label">TotalAmount</span>
 -->
                </td>

        </table>
        <button class="btn btn-primary" (click)="addFieldValue()">More</button>&nbsp;
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>&nbsp;
        <button class="btn btn-primary" type="reset">Reset</button>
    </form>

    <!--   <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let field of fieldArray; let i = index">
                <td>
                    <input [(ngModel)]="field.code" class="form-control" type="text" name="{{field.code}}" />
                </td>
                <td>
                    <input [(ngModel)]="field.name" class="form-control" type="text" name="{{field.name}}" />
                </td>
                <td>
                    <input [(ngModel)]="field.price" class="form-control" type="text" name="{{field.price}}" />
                </td>
                <td>
                    <button class="btn btn-default" type="button" (click)="deleteFieldValue(i)">Delete</button>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" type="text" id="newAttributeCode" [(ngModel)]="newAttribute.code" name="newAttributeCode" />
                </td>
                <td>
                    <input class="form-control" type="text" id="newAttributeName" [(ngModel)]="newAttribute.name" name="newAttributeName" />
                </td>
                <td>
                    <input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.price" name="newAttributePrice"
                    />
                </td>
                <td>
                    <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
                </td>
            </tr>
        </tbody>
    </table> -->

</div>