.user-input-wrp {
	position: relative;
	width: 50%;
}
.user-input-wrp .inputText{
	width: 100%;
	outline: none;
	border:none;
	border-bottom: 1px solid #777;
	transition: border-width 0.5s ease-in-out;

}
.user-input-wrp .inputText:invalid {
	box-shadow: none !important;
}
.user-input-wrp .inputText:focus{
	border-color: blue;
	border-width: medium medium 2px;

}
.user-input-wrp .floating-label {
	position: absolute;
	pointer-events: none;
	top: 1px;
	left: 5px;
	transition: 0.2s ease all;
}
.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label{
	top: -17px;
	left: 10px;
	font-size: 13px;
	opacity: 1;
}

.center {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;  
  }
  .form-horizontal{
    display:block;
    margin-left:auto;
    margin-right:auto;
}